/.venv
/.vscode
/day 1
/day 10
/day 11 BlackJack
/day 12 Debugging
/day 13 Guess
/day 14 Higher or Lower Game
/day 15
/day 16
/day 17
/day 18
/day 19
/day 2
/day 20
/day 21
/day 22
/day 23
/day 24
/day 3
/day 4
/day 5
/day 7 Hangman challenge
/day 8 Ceasar Cipher
/day 9 Dictionary
/Other pdfs